.overlay-menu {
	@include set-dimensions(0%, 100%);
	@include set-transition(all, 0.5s);
	left: 0; top: 0; opacity: 0;
	position: fixed;
	display: flex;
	justify-content: center;
	background: $layout-color;
	visibility: hidden;
	overflow-x: hidden;
	z-index: 99;
	&.active {
		opacity: 1;
		visibility: visible;
		width: 100%;
	}
	.close__button {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 4rem;
		color: $white;
		cursor: pointer;
	}
	ul {
		@include set-flex(column, no-wrap, center, center);
		@include tablet-view { flex-direction: row; }
		.menu-box {
			@include set-dimensions(12rem, 10rem);
			@include set-flex(column, no-wrap, center, space-evenly);
			margin: 1rem;
			background: darken($white, 3%);
			box-sizing: border-box;
			box-shadow: 0 2px 4px rgba(0,0,0,.4);
			border: 0.5px solid darken($white, 6%);
			border-radius: 2px;
			cursor: pointer;
			user-select: none; 
			overflow: hidden;
			figure {
				@include set-dimensions(8rem, 6rem);
				img {
					@include set-dimensions(100%, auto);
					box-sizing: content-box;
				}
			}
			h4 {
				//position: absolute;
			}
		}
	}
}
