/*clear content*/
@mixin clear-fix {
	content: '';
	display: block;
	clear: both;
}
/*constant position and width*/
@mixin const-center-position {
	//position: relative;
	max-width: 60em;
	margin: 0 auto;
}
/*set font-styles*/
@mixin set-font($fnt-family, $fnt-size, $fnt-hue) {
	font-family: $fnt-family, sans-serif;
	font-size: $fnt-size;
	color: $fnt-hue;
}
/*width & height dimensions*/
@mixin set-dimensions($width, $height) {
	width: $width; height: $height;
}
/*flex layout*/
@mixin set-flex($direction, $content, $item-align, $content-align) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $content;
	align-items: $item-align;
	justify-content: $content-align;
}
/*grid layout*/
@mixin set-grid {
	display: grid; grid-gap: 1.5em;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	grid-auto-rows: 1fr;
	margin: 0 auto;
}
/*init background filter*/
@mixin bg-filter($value) {
	filter: blur($value); 
	-webkit-filter: blur($value);
	-moz-filter: blur($value);
	-ms-filter: blur($value);
}
/*background properties*/
@mixin page-bg($content, $attachment) {
	background-image: url($content);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: $attachment;
}
/*transition animation*/
@mixin set-transition($mode, $duration) {
	transition: $mode $duration ease;
}
/*set border settings*/
@mixin set-border($thickness, $border-color, $radius) {
	border: $thickness solid $border-color;
	border-radius: $radius;
}
/*slide in animation*/
@mixin slideIn($direction) {
	opacity: 1;
	transform: $direction;
}
/*slide out animation*/
@mixin slideOut($direction) {
	opacity: 0;
	transform: $direction;
}
/*staggering effect or transition delay*/
@mixin stagger-delay($items) {
	@for $i from 1 through $items {
		&:nth-of-type(#{$i}) {
			transition-delay: #{$i/4}s;
		}
	}
}
/*
=========================================
			MEDIA QUERIES
=========================================
*/
@mixin phone-view {
	@media screen and (min-width: 30em) {
		@content;
	}
}
@mixin tablet-view {
	@media screen and (min-width: 49em) {
		@content;
	}
}
@mixin desktop-view {
	@media screen and (min-width: 65em) {
		@content;
	}
}