@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Poppins|Gentona|Overpass:300,400,500,600,700,800,900');

$white: #fff;
$blue: #3B5998;
$sky-blue: #3399db;
$orange: #e54d25;
$purple: #9b59b6;

$layout-color: #1abc9c;
$link-color: #33CC99;
$fb-color: #3B5998;
$google-color: #dd4b39;
$youtube-color: #bb0000;
$codepen-color: #111;
$github-color: #24292e;

