$white: #fff !default;
$black: #000 !default;
$blue: #4285f4;
$sky-blue: #3399db;
$light-green: #4ECDC4;

$link-color: #33CC99;
$name-color: #4dba87;
$header-color: #292f36;

$primary: #4dba87 !default;
