#index-layout {
	position: relative;
	overflow: hidden;
	&::before{
		@include clear-fix;
		@include set-dimensions(100%, 100vh);	
		@include page-bg('/img/desk-laptop.jpg', none);
		@include bg-filter(0px);
		@include set-transition(all, 0.5s);
	}
	.landing__page{
		@include set-flex(column, no-wrap, center, none);
		position: absolute;
		text-align: center; 
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		figure {
			@include set-dimensions(10em, 10em);
			@include set-border(8px, $white, 50%);
			@include tablet-view {
				@include set-dimensions(11em, 11em);
			}
			@include set-transition(all, 0.5s);
			margin: 0.5em; overflow: hidden;
			.page-img {
				@include set-dimensions(100%, auto);
				object-fit: cover;
			}
		}
		ul {
			@include set-flex(row, wrap, center, center);
			@include set-font('Montserrat', 1em, darken($white, 90%));
			@include tablet-view { font-size: 1.2em; }
			padding: 0 0 1.5rem 0;
			li {
				@include set-transition(all, 0.5s);
				&+li::before {
					content: '|\00a0';
					padding: 0 8px 0 16px;
				}
			}
		}
	}
}
