[v-cloak] { display: none; }
html {
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	box-sizing: border-box;
  	-webkit-scroll-behavior: smooth;
  		-ms-scroll-behavior: smooth;
  			scroll-behavior: smooth;
}
body {
  	@include serif-font();
  	margin:0;
  	padding:0;
  	line-height: 1.2;
}
*,*::before,*::after {
	@include set-transition(all, 0.5s);
	padding: 0; margin: 0;
	box-sizing: inherit;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: $white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
}

