[v-cloak] { display: none; }
html {
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	box-sizing: border-box;
  	font-family: Nunito Sans,Roboto,-apple-system,
  			BlinkMacSystemFont,Segoe UI,Helvetica Neue,
  			Arial,Noto Sans,sans-serif,Apple Color Emoji,
  			Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  	background: darken($white, 3%);
}
*,*::before,*::after {
	padding: 0; margin: 0;
	box-sizing: inherit;
	@include set-transition(all, 0.5s);
}
li {
	list-style: none;
}
a { 
	text-decoration: none;
	cursor: pointer;
	color: $link-color;
}
h1 {
	@include tablet-view {
		font-size: 3rem;
	}
	font-size: 2.5rem;
	color: darken($white, 85%);
}
h2 {
	font-size: 2rem;
	color: darken($white, 80%);
}
h3 {
	font-size: 1.5rem;
	color: darken($white, 75%);
}
h4 {
	font-size: 1rem;
	color: darken($white, 70%);
}
p {
	line-height: 1.5rem;
	color: darken($white, 65%);
	font-weight: 400;
}