/**/
.slide_right-enter-active, .slide_left-enter-active {
    @include set-transition(all, 1s);
    transform: translateX(0px);
    opacity: 1;
}
/*from right to left*/
.slide_right-enter {
    transform: translateX(15px);
    opacity: 0;
}
/*from left to right*/
.slide_left-enter {
	transform: translateX(-15px);
    opacity: 0;
}

/**/
.slide_up-enter-active, .slide_down-enter-active {
	@include set-transition(all, 1s);
    transform: translateY(0px);
    opacity: 1;
}
/*from bottom to top*/
.slide_up-enter { 
	transform: translateY(15px);
    opacity: 0;
}
/*from top to bottom*/
.slide_down-enter {
    transform: translateY(-15px);
    opacity: 0;
}

/**/
.fade-enter-active {
    @include set-transition(all, 1s);
    opacity: 1;
}
.fade-enter {
    opacity: 0;
}

@mixin radial-pulse($duration) {
    animation: animate $duration linear infinite;
    @keyframes animate {
        0% {
            box-shadow: 0 0 0 0 rgba(10,74,61,0.4), 0 0 0 0 rgba(10,74,61,0.4);
        }
        40% {
            box-shadow: 0 0 0 8px rgba(10,74,61,0), 0 0 0 0 rgba(10,74,61,0.4);
        }
        80% {
            box-shadow: 0 0 0 8px rgba(10,74,61,0), 0 0 0 6px rgba(10,74,61,0);
        }
        100% {
            box-shadow: 0 0 0 0 rgba(10,74,61,0), 0 0 0 6px rgba(10,74,61,0);
        }
    }
}