#portfolio {
	@include const-center-position;
	@include set-dimensions(100%, auto);
	padding: 0 1rem;
	margin-top: 12vh;
}
.breadcrumb--tag {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	padding: 1rem 0;
	a {
		@include sans-serif-font();
		padding-right: 1rem;
		font-weight: 600;
		text-transform: uppercase;
		color: darken($white, 65%);
		&+a::before {
			content: "/\00a0";
			padding-right: 8px;
		}
		&:hover {
			color: $link-color;
		}
	}
}
.grid__layout {
	padding: 2rem 0;
	ul { 
		@include set-grid; 
		margin: 0.5rem 0;
	}
	li {
		position: relative;
		box-sizing: border-box;
		box-shadow: 0 2px 4px rgba(0,0,0,.2);
		background: darken($white, 5%);
		article {
			@include set-dimensions(100%, auto);
			padding: 1rem; 
			.content--figure {
				overflow: hidden;
				figure {
					@include set-dimensions(auto, 200px);
					position: relative;
					background: darken($white, 12%);
					img {
						//@include set-dimensions(100%, auto);
						object-fit: cover;
						position: absolute;
						top: 50%; left: 50%;
						transform: translate(-50%, -50%);
						padding: 2rem;
					}
				}
			}
			.content--title {
				padding-top: 1rem;
				text-align: center;
				.title {  color: $sky-blue; }
				p { 
					@include serif-font();
					color: darken($white, 65%);
				}
			}
		}
		&:hover { opacity: 0.8; }
	}
}