button[name="form_submit"] {
	@include set-border(1px, darken($white, 35%), 2px);
	padding: 12px 24px; 
	float: right;
	color: darken($white, 55%); 
	background: $white;
	cursor: pointer;
	&:hover {
		color: lighten($sky-blue, 15%); 
		@include set-border(1px, lighten($sky-blue, 20%), 2px);
	}
}