header {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}
.progress__container {
	@include set-dimensions(100%, 8px);
	background: #ccc;
}
.progress__container--bar {
	@include set-dimensions(0%, 8px);
	background: $link-color;
}