%dimension-shared {
	@include set-dimensions(100%, 100vh);
}
.background__image {
	@extend %dimension-shared;
	background-image: url('/img/startup.jpg');
	background-repeat: no-repeat;
	/*background-size: cover;
	background-position: center;*/
	z-index: 1;
}
.svg__image_A {
	@extend %dimension-shared;
	@include set-center(50%, 50%);
	position: absolute;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.08' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	opacity: 0.8;
	z-index: 2;
}
.svg__image_B {
	@extend %dimension-shared;
	@include set-center(50%, 50%);
	position: absolute;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.14' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	z-index: 3;
}
.about__layout {
	@include set-center(50%, 50%);
	@include set-flex(column, no-wrap, center, center);
	position: absolute;
}
.name__layout {
  	background-color: rgb(0,0,0);
 	background-color: rgba(0,0,0, 0.1);
 	border-radius: 6px;
 	padding: 2rem 4rem;
 	z-index: 3;
  	.layout--title {
  		font-size: 1.15rem;
		text-transform: uppercase !important;
		@include tablet-view {
			font-size: 2rem;
		}
		@include desktop-view {
			font-size: 4rem;
		}
		strong {
			display: flex;
			flex-direction: column;
			text-align: center;
			font-weight: bolder;
			span:first-child {
				color: $white;
			}
			span:last-child {
				color: $link-color;
			}
		}
	}
}
.sub__layout {
	margin: 2rem 0 0 0;
	text-align: center;
	font-size: 1.0rem;
	font-weight: 600;
	color: $white;
	@include tablet-view {
		font-size: 1.1rem;
	}
	@include desktop-view {
		font-size: 1.2rem;
	}
}